/*********************************************************************
*
* LAYOUT
*
*********************************************************************/

.container-fluid {
  max-width: 1400px;
}

header, main {
  margin-top: 76px;
}

main {
  flex: 1;
  margin-top: 76px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}