/*********************************************************************
*
* PANELS
*
*********************************************************************/

@import "../globals/variables";

.panel {
  display: inline-block;
  width: 100%;
  padding: $ui-spacing-half;
  border-radius: $ui-radius;
  font-size: $font-large;
  margin-bottom: $ui-spacing;
}

.panel-highlighted {
  padding: $ui-spacing $ui-spacing-half;
  background-color: $red-lighter;
}

.panel-download,
.panel-start,
.panel-chat {
  transition: none;
}

.panel-download:hover {
  .icon-download {
    background-position: 0 -40px;
  }
}

.panel-start:hover {
  .icon-start {
    background-position: 0 -40px;
  }
}

.panel-chat:hover {
  .icon-chat {
    background-position: 0 -40px;
  }
}