/*********************************************************************
*
* PANELS
*
*********************************************************************/

@import "../globals/variables";

.panel {
  display: inline-block;
  width: 100%;
  padding: $ui-spacing-half;
  border-radius: $ui-radius;
  font-size: $font-large;
  margin-bottom: $ui-spacing;
}

.panel-highlighted {
  padding: $ui-spacing $ui-spacing-half;
  background-color: $red-lighter;
}

.panel-download,
.panel-start,
.panel-chat,
.panel-updates,
.panel-bug,
.panel-plus {
  transition: none;
}

.panel-download:hover {
  .icon-download {
    opacity: 0.5;
  }
}

.panel-start:hover {
  .icon-start {
    opacity: 0.5;
  }
}

.panel-chat:hover {
  .icon-chat {
    opacity: 0.5;
  }
}

.panel-updates:hover {
  .icon-updates {
    opacity: 0.5;
  }
}

.panel-bug:hover {
  .icon-bug {
    opacity: 0.5;
  }
}

.panel-plus:hover {
  .icon-plus {
    opacity: 0.5;
  }
}