<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
  </head>
  <body>
    {{> menu}}
    <section id="home"  class="section content color-palette-9 separator-none" style="">
    <header role="banner">
      <div class="container-fluid">
        <div class="row center-xs">
          <div class="col-xs-12 col-md-10 col-lg-10">
            <img src="images/fuge-icon-inverse.png" alt="Rapid distributed system prototyping" height="150" class="mt">
            <h2>fuge is an execution environment <br>for micro service development with Node.js</h2>
            <div class="row center-xs">
              <div class="col-xs-12 col-md-8">
                <pre><code class="txt-lead">$ npm install fuge --global</code></pre>
              </div>
              <!-- col -->
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- container fluid -->
    </header>

    <section id="whatis"  class="section content color-palette-9 separator-none" style="">
    <div class="container-fluid">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-10 col-lg-10">
          {{> seperator}}
          <div class="row">
            <h2 class="col-xs-12 mb2x">What is fuge?</h2>
            <div class="col-xs-12 col-md-6 txt-left">
              <p>Fuge is a tool to help developers work with microservice style systems. Fuge provides a microservice scaffold generator to rapidly create system and service components and also an execution environment 
              </p>
            </div>

            <div class="col-xs-12 col-md-6 txt-left">
              <p>
               for microservices which aims to reduce friction between processes and containers, helping you to avoid shell hell!  For more information and to get started go
               <a href="http://www.nearform.com/nodecrunch/release-fuge-microservices/" target="_blank">here</a>.
              </p>
            </div>
          </div>
          <!-- row -->

          <section id="action"  class="section content color-palette-9 separator-none" style="">
          {{> seperator}}

          <div class="row txt-center">
            <div class="col-xs-12">
              {{{ contents }}}
            </div>
          </div>
          <!-- row -->

          <section id="start"  class="section content color-palette-9 separator-none" style="">
          <div class="row">
            <h2 class="col-xs-12 mb2x">Get Started</h2>
            <div class="col-xs-12 col-md-4">
              <a class="panel panel-highlighted panel-download" href="https://www.npmjs.com/package/fuge" target="_blank">
                <p class="txt-center mb0"><i class="icon icon-download"></i></p>
                <p class="mb0">Download and install</p>
              </a>
            </div>
            
            <div class="col-xs-12 col-md-4">
              <a href="/get-started/" class="panel panel-highlighted panel-start">
                <p class="txt-center mb0"><i class="icon icon-start"></i></p>
                <p class="mb0">Quick start</p>
              </a>
            </div>

            <div class="col-xs-12 col-md-4">
              <a href="https://gitter.im/apparatus/fuge" class="panel panel-highlighted panel-chat " target="_blank">
                <p class="txt-center mb0"><i class="icon icon-chat"></i></p>
                <p class="mb0">Chat on Gitter</p>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <a class="panel panel-highlighted panel-api" href="/api">
                <p class="txt-center mb0"><i class="icon icon-api"></i></p>
                <p class="mb0">API</p>
              </a>
            </div>
            
            <div class="col-xs-12 col-md-4">
              <a href="/support" class="panel panel-highlighted panel-start">
                <p class="txt-center mb0"><i class="icon icon-start"></i></p>
                <p class="mb0">Support</p>
              </a>
            </div>

            <div class="col-xs-12 col-md-4">
              <a href="/contribute" class="panel panel-highlighted panel-chat ">
                <p class="txt-center mb0"><i class="icon icon-chat"></i></p>
                <p class="mb0">Contribute</p>
              </a>
            </div>
          </div>
          <!-- row -->

          <div class="row center-xs">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p class="txt-lead mb mt2x">Issues? From spelling errors to broken tutorials and everything in between, report
              them <a href="https://github.com/apparatus/fuge.io/issues">here.</a></p>
            </div>
          </div>
          <!-- row -->

        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- container fluid -->

    {{> footer}}

    {{> analytics}}
  </body>
</html>
